@media screen and (max-width: 1199px) {
    .activity {
        display: none;
    }
}
.activity {
@extend %section;

    padding-top: 0;

    &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    background-color: var(--white-color);
}

    &__list {
    @extend %list;
    display: flex;
    gap: 30px;
}

    &__wrapper {
    position: relative;
}

    &__overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
}
}







