.features {
    @extend %section;

    background-color: var(--white-color);

    &-items {
    width: 270px;
}

    &-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    text-transform: uppercase;
}

    &-text {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}
}

.features-list {
    @extend %list;

    display: flex;
    gap: 30px;

    &__box {
    display: block;
}

    &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
}

    &__svg {
    display: flex;
}
}