@media screen and (max-width: 768px) {
    .main-nav {
    display: none;
}

    .auth-nav {
    display: none;
}

    .open-mobile-menu {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    transition: fill var(--transition-duration);

    &__svg:hover, &__svg:focus {
        fill: var(--blue-color);
    }
}



.header {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ECECEC;

    &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
}
}

@media screen and (min-width: 768px) {

    .open-mobile-menu {
    display: none;
    }    
    .header {
        padding: 0;
        &__nav {
    display: flex;
    align-items: center;
    margin-right: 93px;
    }
    &__box {
        display: flex;
    }
    }

    .main-nav {
    list-style: none;
    display: flex;
    column-gap: 50px;
    &__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        transition: color var(--transition-duration);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.42;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--primary-color);
        }
        &__link:hover,
        &__link:focus {
            color: var(--blue-color);
            }
    
        &__link.current {
            color: var(--blue-color);
        }
    }

        .current::after {
            position: absolute;
            content: '';
            left: 0;
            bottom: -1px;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--blue-color);
        }
    .auth-nav {
        list-style: none;
        margin-top: 15px;
    }
    .auth-nav .link {
        display: flex;
        align-items: center;
        transition: color var(--transition-duration);
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--secondary-color);
        fill: currentColor;
    }
    .auth-nav-svg {
        margin-right: 8px;
    }
    .box-svg-link {
        margin-bottom: 10px;
    }
    
    .contact-link:hover,
    .contact-link:focus {
    
        color: var(--blue-color);
    }
}


@media screen and (min-width: 1200px) {
    .header {
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav {
        margin-right: 0;
    }
    }
        // .current::after {
        //     bottom: -4px;
        // }

    .main-nav {
        gap:50px;
    }

    .auth-nav {
        display: flex;
        gap: 50px;
        margin: 0;
    }
    .auth-nav .link {
        font-size: 14px;
        line-height: 1.14;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .auth-nav-svg {
    margin-right: 10px;
    }
    .box-svg {
    display: inline-block;
    }
                .box-svg-link {
                    margin-bottom: 0px;
                }
}
