.logo {
    margin-right: 93px;
    margin-right: 93px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--primary-color);

    &__accent {
        color: var(--blue-color);
    }
}