.footer-input {
    text-align: center;

    &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}
}

.footer-form {
    &__mail {
    padding: 15px 16px;
    margin-bottom: 20px;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-color-header-and-footer);
    color: var(--white-color);
}

    &__submit {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    padding-left: 28px;
    padding-right: 68px;
    border: none;
    transition: background-color var(--transition-duration);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    letter-spacing: 0.06em;
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--blue-color);

    &:hover, &:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }
}

    &__svg {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}
}

@media screen and (min-width: 768px) {
    .footer-form {
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (min-width: 1200px) {
    .footer-input {
        margin-left: 93px;
        text-align: start;
    }
    .footer-form {
        flex-direction: row;
    &__mail {
        margin-right: 12px;
        width: 358px;
        margin-bottom: 0;
    }
}

}