.main-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border: none;
    transition: background-color var(--transition-duration);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.06em;
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--blue-color);

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        background-color: #188CE8;
        border-radius: 4px;
        }
}
